/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define MAC_DEF  0
#define MAC_CODE 1
#define MAC_NAV  2
#define MAC_FUNC 3
#define WIN_DEF  4
#define WIN_CODE 5
#define WIN_NAV  6
#define WIN_FUNC 7
#define SYS      8

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_TAB";
            bindings = <&kp Q>, <&kp LA(TAB)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        spot: spotlight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCMD>,
                <&macro_tap &kp SPACE>,
                <&macro_release &kp LCMD>;

            label = "SPOTLIGHT";
        };

        shot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LG(LSHFT)>,
                <&macro_tap &kp N4>,
                <&macro_release &kp LG(LSHFT)>;

            label = "SCREENSHOT";
        };

        max: windowmax {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp GLOBE>,
                <&macro_tap &kp F>,
                <&macro_release &kp GLOBE>;

            label = "WINDOWMAX";
        };

        m_col: mac_column {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LG(D)>;

            label = "MAC_COLUMN";
        };

        m_row: mac_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LG(LC(D))>;

            label = "MAC_ROW";
        };

        w_col: mac_column {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &kp LS(LALT)>,
                <&macro_tap &kp EQUAL>,
                <&macro_release &kp LS(LALT);

            label = "WIN_COLUMN";
        };

        w_row: mac_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &kp LS(LALT>,
                <&macro_tap &kp MINUS>,
                <&macro_release &kp LS(LALT);

            label = "WIN_ROW";
        };


        t_col: tmux_column {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp PIPE>;

            label = "TMUX_COLUMN";
        };

        t_row: tmux_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp MINUS>;

            label = "TMUX_ROW";
        };

        t_list: tmux_list {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp W>;

            label = "TMUX_LIST";
        };

        t_crt: tmux_create {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp C>;

            label = "TMUX_CREATE";
        };

        ter:  terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &kp LWIN>,
                <&macro_tap &kp R>,
                <&macro_release &kp LWIN>,
                <&macro_tap>,
                <&kp W &kp T &kp RET>;

            label = "TERMINAL";
        };

        shot_win: screenshot_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LG(LSHFT)>,
                <&macro_tap &kp S>,
                <&macro_release &kp LG(LSHFT)>;

            label = "SCREENSHOT_WIN";
        };

        max_win: windowmax_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LWIN>,
                <&macro_tap &kp UP>,
                <&macro_release &kp LWIN>;

            label = "WINDOWMAX_WIN";
        };

        min_win: windowmin_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LWIN>,
                <&macro_tap &kp DOWN>,
                <&macro_release &kp LWIN>;

            label = "WINDOWMIN_WIN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAC_DEF_layer {
            display-name = "macOS";
            bindings = <
  &kp Q  &kp W  &kp E     &kp R             &kp T              &kp Y          &kp U             &kp I      &kp O    &kp P
  &kp A  &kp S  &kp D     &kp F             &kp G              &kp H          &kp J             &kp K      &kp L    &kp SEMI
  &kp Z  &kp X  &kp C     &kp V             &kp B              &kp N          &kp M             &kp COMMA  &kp DOT  &kp FSLH
                &kp LCMD  &lt MAC_CODE ESC  &ht LSHFT SPACE    &ht LCTRL RET  &lt MAC_NAV BSPC  &kp TAB
            >;

            label = "MAC_DEF";
        };

        MAC_CODE_layer {
            display-name = "macCode";
            bindings = <
  &kp EXCL  &kp AT  &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR
  &t_list   &t_col  &kp GRAVE  &kp MINUS  &kp EQUAL    &kp LBRC   &kp RBRC  &kp SQT   &kp DQT   &ht LC(LSHFT) TAB
  &t_crt    &t_row  &kp TILDE  &kp PLUS   &kp UNDER    &kp LBKT   &kp RBKT  &kp PIPE  &kp BSLH  &kp DEL 
                    &trans     &trans     &trans       &trans     &trans    &trans
            >;

            label = "MAC_CODE";
        };

        MAC_NAV_layer {
            display-name = "macNav";
            bindings = <
  &kp N1  &kp N2   &kp N3       &kp N4    &kp N5       &kp N6        &kp N7        &kp N8      &kp N9      &kp N0
  &shot   &kp TAB  &max         &kp HOME  &kp PG_UP    &kp LEFT      &kp DOWN      &kp UP      &kp RIGHT   &ht LC(LSHFT) TAB
  &spot   &none    &kp LG(RET)  &kp END   &kp PG_DN    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_NEXT  &none
                   &trans       &trans    &trans       &trans        &trans        &trans
            >;

            label = "MAC_NAV";
        };

        MAC_FUNC_layer {
            display-name = "macFunc";
            bindings = <
  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7       &kp F8   &kp F9   &kp F10
  &none   &none   &none   &none   &none     &none   &to WIN_DEF  &to SYS  &kp F11  &kp F12
  &none   &none   &none   &none   &none     &none   &none        &none    &none    &none
                  &trans  &trans  &trans    &trans  &trans       &trans
            >;

            label = "MAC_FUNC";
        };

        WIN_DEF_layer {
            display-name = "Windows";
            bindings = <
  &alt_tab  &kp W  &kp E     &kp R             &kp T              &kp Y          &kp U             &kp I      &kp O    &kp P
  &kp A     &kp S  &kp D     &kp F             &kp G              &kp H          &kp J             &kp K      &kp L    &kp SEMI
  &kp Z     &kp X  &kp C     &kp V             &kp B              &kp N          &kp M             &kp COMMA  &kp DOT  &kp FSLH
                   &kp LWIN  &lt WIN_CODE ESC  &ht LSHFT SPACE    &ht LCTRL RET  &lt WIN_NAV BSPC  &kp TAB
            >;

            label = "WIN_DEF";
        };

        WIN_CODE_layer {
            display-name = "WinCode";
            bindings = <
  &kp EXCL  &kp AT  &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR
  &t_list   &t_col  &kp GRAVE  &kp MINUS  &kp EQUAL    &kp LBRC   &kp RBRC  &kp SQT   &kp DQT   &ht LC(LSHFT) TAB
  &t_crt    &t_row  &kp TILDE  &kp PLUS   &kp UNDER    &kp LBKT   &kp RBKT  &kp PIPE  &kp BSLH  &kp DEL 
                    &trans     &trans     &trans       &trans     &trans    &trans
            >;

            label = "WIN_CODE";
        };

        WIN_NAV_layer {
            display-name = "WinNav";
            bindings = <
  &kp N1     &kp N2   &kp N3    &kp N4    &kp N5       &kp N6        &kp N7        &kp N8      &kp N9      &kp N0
  &shot_win  &kp TAB  &max_win  &kp HOME  &kp PG_UP    &kp LEFT      &kp DOWN      &kp UP      &kp RIGHT   &ht LC(LSHFT) TAB
  &ter       &none    &min_win  &kp END   &kp PG_DN    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_NEXT  &kp LA(F9)
                      &trans    &trans    &trans       &trans        &trans        &trans
            >;

            label = "WIN_NAV";
        };

        WIN_FUNC_layer {
            display-name = "WinFunc";
            bindings = <
  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7       &kp F8   &kp F9   &kp F10
  &none   &none   &none   &none   &none     &none   &to MAC_DEF  &to SYS  &kp F11  &kp F12
  &none   &none   &none   &none   &none     &none   &none        &none    &none    &none
                  &trans  &trans  &trans    &trans  &trans       &trans
            >;

            label = "Win_FUNC";
        };

        SYS_layer {
            display-name = "System";
            bindings = <
  &none  &none  &none  &none  &bt BT_CLR     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
  &none  &none  &none  &none  &bootloader    &bootloader   &to MAC_DEF   &to WIN_DEF   &none         &none
  &none  &none  &none  &none  &sys_reset     &sys_reset    &none         &none         &none         &none
                &none  &none  &none          &none         &none         &none
            >;

            label = "SYS";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        mac_function {
            if-layers = <1 2>;
            then-layer = <3>;
        };
        
        win_function {
            if-layers = <5 6>;
            then-layer = <7>;
        };
    };
};
